* {
    box-sizing: border-box;
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {width:100%; overflow-x:hidden; line-height: 1; padding: 3vw; font-family: 'Open Sans', sans-serif; font-size: 12px;}

.topbar {
	grid-area: menu;
}

.navbar{ padding: 0 !important;}
a:hover {color:black !important;}

.nav-link {color: rgba(0,0,0,.55) !important;}

.navbar-nav > li {
  padding-left: 1vw;
  padding-right: 1vw;
}

.project-img img { width: 50%; height:auto; margin-left: auto; margin-right: auto; display: block;}

.content > div {margin: 5vw 0 5vw 0;}

h1 {font-size: 1em;}
p {line-height: 1.5em; font-size: 0.5em; font-weight: normal; color: rgba(0,0,0,.55);}
.content > li {line-height: 1.5em; font-size: 0.5em; font-weight: bold; color: rgba(0,0,0,.55); list-style-type:none;}
.skill-inner {font-size: 0.45em; font-weight: normal;}
